<div class="card">
    <div class="card-header bg-dark text-info">
        Personal Details
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name </th>
                    <td>{{person.lastName}}, {{person.firstName}}</td>
                </tr>
                <tr>
                    <th>City </th>
                    <td>{{person.city}}</td>
                </tr>
                <tr>
                    <th>Mobile No </th>
                    <td>{{person.mobileNo}}</td>
                </tr>
                <tr>
                    <th>Email </th>
                    <td>{{person.email}}</td>
                </tr>
                <tr>
                    <th>Date of Birth </th>
                    <td>{{person.dateOfBirth | date : 'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <th>Age </th>
                    <td>{{person.age}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>