<div class="row m-1">
    <div class="col-sm-4">
        Username : 
    </div>
    <div class="col-sm-4">
        <input type="text" name=username class="form-control" [(ngModel)]="username">
    </div>
</div>
<div class="row m-1">
    <div class="col-sm-4">
        Password :        
    </div>
    <div class="col-sm-4">
        <input type="password" name=password class="form-control" [(ngModel)]="password">
    </div>
</div>
<app-my-dropdown
    [data-list]="countryList"    
    [selected-item]="selectedCountry"
    (get-selected-item)="getSelectedCountry($event)"
>   
Country :  
</app-my-dropdown>
<!-- <div class="row m-1">
    <div class="col-sm-4">
        Country : 
    </div>
    <div class="col-sm-4">
        <select name="country" [(ngModel)]="selectedCountry" class="form-control">
            <option value="-1">-:Select Country:-</option>
            <option *ngFor="let country of countryList" [ngValue]="country">{{country.name}}</option>
        </select>
    </div>
</div> -->
<app-my-dropdown
    [data-list]="statesList"    
    [selected-item]="selectedState"
    (get-selected-item)="getSelectedState($event)"
>    
State :
</app-my-dropdown>
<!-- <div class="row m-1">
    <div class="col-sm-4">
        State : 
    </div>
    <div class="col-sm-4">
        <select name="state" [(ngModel)]="selectedState" class="form-control">
            <option value="-1">-:Select State:-</option>
            <option *ngFor="let state of statesList" [ngValue]="state">{{state.name}}</option>
        </select>
    </div>
</div> -->
<div class="row m-2">
    <div class="col">
        <button class="btn btn-info" (click)="save()">Save</button>
    </div>
</div>