<table class="table table-bordered bg-{{bgColor}} text-{{color}}">
    <thead>
        <tr>
            <th>Prson-# :</th>
            <td>{{person.id}}</td>
        </tr>
        <tr>
            <th>Name : </th>
            <td>{{person.name}}</td>
        </tr>
        <tr>
            <th>Mobile No : </th>
            <td>{{person.mobileNo}}</td>
        </tr>
        <tr>
            <th>Email : </th>
            <td>{{person.email}}</td>
        </tr>
        <tr>
            <th>Gender : </th>
            <td>{{person.gender}}</td>
        </tr>
    </thead>
</table>