<form #frm="ngForm" (ngSubmit)="save(frm)">
    <div class="row m-1">
        <div class="col-sm-4">
            Course Code :
        </div>
        <div class="col-sm-4">
            <input type="text" name="courseCode" class="form-control" [(ngModel)]="course.courseCode" required #courseCode=ngModel>
        </div>
        <div class="col-sm-4" *ngIf="courseCode.invalid && courseCode.touched">
            <span>Course Code is Mandatory Field.</span>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-4">
            Course Name :
        </div>
        <div class="col-sm-4">
            <input type="text" name="courseName" class="form-control" [(ngModel)]="course.courseName" required #courseName=ngModel>
        </div>
        <div class="col-sm-4" *ngIf="courseName.invalid && courseName.touched">
            <span>Course Name is Mandatory Field.</span>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-sm-4">
            Fees :
        </div>
        <div class="col-sm-4">
            <input type="text" name="fees" class="form-control" [(ngModel)]="course.fees" required #fees=ngModel pattern="^[0-9]+$">
        </div>
        <div class="col-sm-4" *ngIf="fees.invalid && fees.touched">
            <span *ngIf="fees.errors['required']">Fees is Mandatory Field.</span>
            <span *ngIf="fees.errors['pattern']">Only Digits/Numeric value allowed in Fees.</span>
        </div>
    </div>    
    <div class="row m-1">
        <div class="col-sm-4">
            Trainer :
        </div>
        <div class="col-sm-4">
            <select name="trainerName" [(ngModel)]="course.trainerName" class="form-control">
                <option value="-1">-:Select Trainer:-</option>
                <option *ngFor="let trainer of trainers" [ngValue]="trainer">{{trainer}}</option>
            </select>
        </div>       
    </div>        
    <div class="row m-1">
        <div class="col">
            <button class="btn btn-info" >Submit</button>
        </div>
    </div>
</form>